.header {
  position: relative;
}

.header__bg {
  display: none;
  width: 100%;

  @include min(tabletL) {
    display: block;
  }
}

.header__content {
  display: flex;
  align-items: center;
  padding: rem(40px);
  background-color: $primary;

  @include min(tabletL) {
    min-height: rem(160px);
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
  }
}
