.o-container {
  padding-right: 7%;
  padding-left: 7%;
}

.o-section {
  min-height: calc(100vh - #{$navbar-height});
  @include min(laptopS) {
    min-height: 100vh;
  }
  background-color: $lightest;
}

.o-section__content {
  padding-top: $space--y;
  padding-bottom: $space--y;
}

.o-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: -$gutter;
  margin-left: -$gutter;
}

.o-grid > * {
  flex-basis: 100%;
  margin-top: $gutter;
  margin-left: $gutter;
}

.o-grid-gutters--30 {
  margin-top: rem(-30px);
  margin-left: rem(-30px);

  > * {
    flex-basis: 100%;
    margin-top: rem(30px);
    margin-left: rem(30px);
  }
}

.o-grid--2 > * {
  @include min(tabletS) {
    flex-basis: calc((100% - 2 * #{$gutter}) / 2);
  }
}

.o-grid--3 > * {
  @include min(tabletS) {
    flex-basis: calc((100% - 2 * #{rem(30px)}) / 2);
  }
  @include min(tabletL) {
    flex-basis: calc((100% - 3 * #{rem(30px)}) / 3);
  }
}

.u-space--y {
  margin-top: $space--y !important;
  margin-bottom: $space--y !important;
}

.u-space--top {
  margin-top: $space--y !important;
}

.u-space--bottom {
  margin-bottom: $space--y !important;
}

.u-align-middle {
  align-items: center;
}
