.section--01 {
  display: flex;
  align-items: center;
  position: relative;
  background: url(https://upload.wikimedia.org/wikipedia/commons/8/81/Renault_Trafic_Grand_Passenger_Black_Edition_dCi_115_%28II%2C_Facelift%29_%E2%80%93_Frontansicht%2C_1._September_2013%2C_M%C3%BCnster.jpg)
    center / cover;
  background-color: $light;
  overflow: hidden;

  &__circle {
    content: '';
    display: block;
    min-width: rem(1600px);
    min-height: rem(1600px);
    width: 140vw;
    height: 140vw;
    position: absolute;
    top: -70vw;
    left: -93vw;
    border-radius: 50%;
    background-color: saturate($primary, 13%);
    opacity: .92;
  }

  &__content {
    position: relative;

    br {
      display: none;

      @include min(mobileL) {
        display: block;
      }
    }
  }

  &__link {
    display: block;
    font-size: rem(18px);
    color: #fff;
  }
}
