.typo__h1,
.t-typo h1 {
  font-weight: 700;
  font-size: rem(22px);
  @include min(mobileM) {
    font-size: rem(42px);
  }
  line-height: 1.15;
  color: $text-color--dark;
}

.typo__h2,
.t-typo h2 {
  font-weight: 700;
  font-size: rem(22px);
  line-height: 1.5;
  color: $text-color;
}

.typo__subtitle,
.t-typo .subtitle {
  font-size: rem(22px);
  line-height: 1.6;
  color: $text-color;
}

.typo__p,
.t-typo p,
.t-typo li {
  font-size: rem(16px);
  line-height: 1.9;
  color: $text-color;
}

.typo__h1--inverse,
.t-inverse h1 {
  color: #fff;
}

.typo__subtitle--inverse,
.t-inverse .subtitle {
  color: rgba(#fff, .6);
}

.t-typo * + *:not(div):not(footer) {
  margin-top: rem(25px);
}
